{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">No</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Data de registro</th>
        <th scope="col">Imagen</th>
        <th scope="col">Grupos</th>
        <th scope="col">Opções</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}